.container {
    width: 50%;
    margin: 20px auto;
}

.returnBtn {
    all: unset;
    cursor: pointer;
    width: 96%;
    text-align: center;
    background-color: var(--mustard);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin: 40px auto;
    justify-content: center;
}

.returnBtn:hover {
    background-color: var(--dark-orange);
}
