form {
    margin-bottom: 80px;
}

.messageForm {
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
    padding: 20px;
}

.messageForm label,
.messageForm input,
.messageForm textarea {
    display: block;
    width: 100%;
    margin: 10px auto;
    min-width: 300px;
    max-width: 700px;
}

.messageForm input,
.messageForm textarea {
    border: 1px solid var(--dark-brown);
    border-radius: 5px;
    padding: 10px;
}

.messageForm textarea {
    min-height: 100px;
}

.submitBtn {
    all: unset;
    cursor: pointer;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    text-align: center;
    background-color: var(--mustard);
    color: #fff;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 20px;
    margin: 40px auto;
    display: block;
}

.submitBtn:hover {
    background-color: var(--submitColor);
}
