.hotelForm {
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
    padding: 20px;
}

.hotelForm label {
    display: block;
    margin-top: 10px;
}

.hotelForm input,
.hotelForm textarea {
    background-color: #fff;
    border: 1px solid var(--dark-brown);
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    display: block;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
}

.submitBtn {
    all: unset;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: var(--mustard);
    color: #fff;
    border: 1px solid var(--dark-brown);
    border-radius: 5px;
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
}

.submitBtn:hover {
    background-color: var(--submitColor);
}

span {
    color: red;
    font-weight: 600;
}

.radioBtns {
    background-color: #ffffff;
    border: 1px solid var(--dark-brown);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    min-width: 300px;
    display: flex;
}

.radioBtns label {
    border: 1px solid var(--dark-brown);
    background-color: #fff;
    color: var(--dark-brown);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    width: 100px;
}

.radioBtns input[type="radio"] {
    visibility: hidden;
    position: fixed;
}

.radioBtns label:hover {
    background-color: var(--mustard);
    color: #ffffff;
}

.radioBtns input[type="radio"]:checked ~ label {
    color: #ffffff;
    font-weight: 600;
    border: 1px solid var(--dark-brown);
    background-color: var(--mustard);
}

/*-------------------------------- Responsive --------------------------------------*/

@media screen and (max-width: 500px) {
    .radioBtns label {
        width: 70px;
    }
}
