.container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    padding: 40px;
}

.newEstablishmentsBtn {
    all: unset;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: var(--mustard);
    color: #fff;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 18px;
    margin-top: 40px;
}

.newEstablishmentsBtn:hover,
.returnBtn:hover {
    background-color: var(--dark-brown);
    color: #fff;
}

.returnBtn {
    all: unset;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: var(--mustard);
    border: 1px solid var(--mustard);
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 18px;
    margin-top: 40px;
}
