.container {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

.textBox {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    color: red;
    font-size: clamp(1.3rem, 2.5vw, 2rem);
}

/* .valContainer {
    color: red;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
} */
