.container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    padding: 40px;
}

.returnBtn {
    all: unset;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: var(--mustard);
    color: #fff;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 20px;
}

.returnBtn:hover {
    background-color: var(--dark-orange);
}
