.image {
    background-color: #fff;
    border: 1px solid var(--dark-brown);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    min-width: 250px;
    display: block;
    margin: 40px auto;
}
