.infoText {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
}

.contactLink {
    color: var(--mustard);
    font-weight: 600;
}

.container {
    background-color: #fff;
    width: 100%;
    min-width: 250px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid var(--dark-brown);
}
