.contactCards {
    border: 1px solid var(--dark-brown);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 40px;
    background-color: #fff;
}

.contactCards h1 {
    margin-bottom: 0px;
}

.contactText {
    text-align: center;
    font-family: "Baloo Tammudu 2", cursive;
    line-height: 120%;
    font-size: 24px;
}

.contactContainer {
    width: 100%;
    min-width: 300px;
    max-width: 720px;
    margin: 0px auto;
    padding: 10px;
}
