.footer {
    padding: 1rem;
    background-color: var(--mustard);
    border-top: 1px solid var(--dark-brown);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footerUl {
    margin: 0 auto;
    max-width: 1400px;
    padding-inline-start: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footerLi {
    list-style-type: none;
    display: inline;
    font-size: 18px;
    margin: 0px 60px 0px 10px;
    color: #fff;
}

.footerLi:hover {
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .footerLi {
        margin: 15px;
        font-size: 16px;
    }
}
