.footer {
    /* border-top: 1px solid var(--dark-brown); */
    padding: 1rem;
    background-color: var(--mustard);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footerUl {
    margin: 0 auto;
    max-width: 1400px;
    padding-inline-start: 0;
}

.footerLi {
    list-style-type: none;
    margin-top: 20px;
    color: #fff;
}

.footerLi:hover {
    font-weight: 500;
}
