@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Roboto:wght@100;300&display=swap");

:root {
    --dark-orange: #a46e02;
    --dark-brown: #433426;
    --mustard: #d0a600;
    --hotelCardBg: #ffffff;
    --submitColor: #089708;
    --backgroundColor: #f8f5f1;
    --lightGrey: #adadad;
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* background-color: #f8f5f1; */
    background-image: url("./images//fjell.svg");
    /* background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(209, 209, 209) 21%); */

    background-size: cover;
    max-width: 1400px;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

fieldset {
    border: none;
}

/*
font-family: 'Baloo Tammudu 2', cursive;
font-family: 'Roboto', sans-serif;


*/
