.nav {
    width: 100%;
}

.border {
    border-bottom: 1px solid var(--mustard);
    width: 100%;
    margin-top: 20px;
}

.logo {
    max-width: 150px;
    padding: 20px 40px 0px 20px;
}

.bed,
.contact {
    max-width: 110px;
    padding: 20px;
}

.login {
    max-width: 80px;
    padding: 20px;
}

.bed:hover,
.contact:hover,
.login:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--mustard);
    border-radius: 3px;
    padding: 10px;
}

.active {
    border-bottom: 3px solid var(--mustard);
}

/*------------------------------ Admin icons nav ----------------------------- */

.admintext {
    margin: 10px 0px 0px 20px;
    font-size: 20px;
    color: var(--dark-brown);
    padding: 0px;
}

.loggingout {
    max-width: 100px;
    padding: 20px;
}

.adminIcon {
    max-width: 100px;
    padding: 15px;
    margin: 10px;
}

.adminIcon:hover,
.loggingout:hover {
    cursor: pointer;
    border: 2px solid var(--dark-brown);
    border-radius: 3px;
    margin: 0px;
    padding: 10px;
}

.adminactive {
    border-top: 2px solid var(--dark-brown);
}

/*------------------------------------ Smaller screens----------------------------------- */

@media screen and (max-width: 500px) {
    .bed,
    .contact {
        width: 90px;
    }

    .login,
    .adminIcon {
        width: 70px;
    }

    .loggingout {
        width: 90px;
    }

    .logo {
        width: 130px;
    }
}

@media screen and (max-width: 400px) {
    .bed,
    .contact {
        width: 80px;
    }

    .login {
        width: 60px;
    }

    .logo {
        width: 110px;
    }

    .loggingout {
        width: 70px;
    }
}
